@font-face {
    font-family: 'Bunya';
    src: url('Bunya-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Bunya-bold';
    src: url('Bunya-bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Bunya-ligth';
    src: url('Bunya-light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}
