.main-2{
	background-color: rgba(18, 41, 63,0.1);
	border-radius: 10px;
	padding: 30px;
}

table{
	border: 1px solid black;
}

table thead{
	background-color: #e78e3e;
	color: black;
	text-align: center;
}


table tbody{
	background-color: #ffffff;
	color: black;
}

table tbody tr td, 
table thead tr th,
table tbody tr
{
	border: 1px solid black;		
}


.modal-dialog{
	z-index: 2000;
}

.modal-footer button{
	margin-top: 23px;
}


.btn-primary{
	background-color: #12293f !important;
}
.btn-primary:hover{
	background-color: #2a2f43 !important;
}

.btn-secondary{
	background-color: gray !important;	
}



.btn-success{
	background-color: #1DC11D !important;
}

.btn-success:hover{
	background-color: #2AF538 !important;
}

.btn-danger{
	background-color: #d9534f !important;
}

.btn-danger:hover{
	background-color: #FF0000  !important;

}